<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this OT from being saved:</h2> <!--- ERROR HANDLING --->

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Day %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Employee %><br>
    <%= f.text_field :manager %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :terms %><br>
    <%= f.number_field :terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
