<!DOCTYPE html>
<html>
<head>
  <title>MyHR <%= @page_title%></title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> <!-- Load all this first -->
</head>
<body>
  
  <!--- Adding Calls -->
  <div class="container">
    <ul class="nav nav-tabs">
          <!--- Then Load This --->
          <!-- Anything in this area will be displayed -->
          <!-- Navigation ---> 
      <li><%= link_to "Home", root_path %></li> <!-- Link to Home page , availible from every page -->
      <li><%= link_to "About Us", welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "Features", welcome_features_path %></li>
      <li><%= link_to "FAQ", welcome_faq_path %></li>


      
      <!---- User Login: If.else Block ---->
      <% if current_user %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <div class='btn-group pull-right right-nav'>
          <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Admin</span> <!-- ADMIN BUTTON ONLY APPEARS ON PAGE ONCE LOGGED IN -->
           </button>
          <ul class="dropdown-menu" role="menu">  <!-- Dropdown class menu, connected to dropdown nav - data toggle dropdown *BOOTSTRAP* -->
            <li><%= link_to "Annual Leave", invoices_path %></li>
            <li><%= link_to "Employees", employees_path %></li>
            <li><%= link_to "Overtime Schedule", companies_path %></li>
            <ul>
              </div>
      
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li> 
      <% end %>    
    </ul>
    

    <!--- Flash Alert Messages ---> 
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>

    <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    
    <% end %>
    
  <%= yield %>
    
    </div>
   </div>
    

  	<footer>
		<div class="container">
			<p> X14125552 - Cloud Application Development - Frank Slyne</p>
		</div>
	</footer>

</body>
</html>
