<!DOCTYPE html>
<html>
<head>
  <title>MyHR <%= @page_title%></title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> <!-- Load all this first -->
</head>
<body>
  
  <!--- Adding Calls -->
  <div class="container">
    <ul class="nav nav-tabs">
          <!--- Then Load This --->
          <!-- Anything in this area will be displayed -->
          <!-- Navigation ---> 
      <li><%= link_to "Home", root_path %></li> <!-- Link to Home page , availible from every page -->
      <li><%= link_to "About Us", welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "Features", welcome_features_path %></li>
      <li><%= link_to "FAQ", welcome_faq_path %></li>
      <li><%= link_to "Pricing", welcome_pricing_path %></li>
      <li><%= link_to "Invoices", invoices_path %></li>
      <li><%= link_to "Companies", companies_path %></li>
      <li><%= link_to "Employees", employees_path %></li>
      
      <!---- User Login: If.else Block ---->
      <% if current_user %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li> 
      <% end %>    
    </ul>
    


    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>

    <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    
    <% end %>
    
  <%= yield %>
    

      
  </div>
  	<footer>
		<div class="container">
			<p>Copyright &copy; 2015 All Rights Reserved</p>
		</div>
	</footer>

</body>
</html>
