<!DOCTYPE html>
<html>
<head>
  <title>Enterpriseape</title> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> <!-- Load all this first -->
</head>
<body>
  
  <!--- Adding Calls -->
  <div class="container">
    <ul class="nav nav-tabs">
          <!--- Then Load This --->
          <!-- Anything in this area will be displayed -->
          <!-- Navigation ---> 
      <li><%= link_to "Home", root_path %></li> <!-- Link to Home page , availible from every page -->
      <li><%= link_to "About Us", welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "Features", welcome_features_path %></li>
      <li><%= link_to "FAQ", welcome_faq_path %></li>
      <li><%= link_to "Pricing", welcome_pricing_path %></li>
      <li><%= link_to "Invoices", invoices_path %></li>
      
      
      <!---- User Login: If.else Block ---->
      <% if current_user %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>

      
      <% end %>
    </ul>

    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p>
  <%= yield %>
  </div>

</body>
</html>
